/vendor/*
/tmp/*
/logs/*
/bin/*
/plugins/*
/node_modules/
config/app.php
config/database.php
config/cms.php
.idea
/.vscode
/.vagrant
/_BDD
/HTML
/_readme.md
PayPal.log
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env